@model CampRealEstate.Models.LoanOfficer

@{
    ViewData["Title"] = "EditScreeningQuestion2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Do you have general knowledge of the VA Home Loan and the benefits that it provides to the qualified members of the military community?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditScreeningQuestion2">
            @Html.HiddenFor(Model => Model.LoanOfficerId)
            @Html.HiddenFor(Model => Model.FirstName)
            @Html.HiddenFor(Model => Model.LastName)
            @Html.HiddenFor(Model => Model.PhoneNumber)
            @Html.HiddenFor(Model => Model.Email)
            @Html.HiddenFor(Model => Model.LicenseNumber)
            @Html.HiddenFor(Model => Model.DateRegistered)
            @Html.HiddenFor(Model => Model.IsApproved)
            @Html.HiddenFor(Model => Model.ImageUrl)
            @Html.HiddenFor(Model => Model.IsResponsive)
            @Html.HiddenFor(Model => Model.IdentityUserId)
            @Html.HiddenFor(Model => Model.CompanyId)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DropDownListFor(model => model.HasVALoanKnowledge, new[] { new SelectListItem { Text = "Yes", Value = "true" }, new SelectListItem { Text = "No", Value = "false" } })
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
